<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magdamiu.androidfundamentalsspring2022">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFundamentalsSpring2022">
        <activity
            android:name=".navigation_drawer.NavigationDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.AndroidFundamentalsSpring2022.NoActionBar" />
        <activity
            android:name=".nav.NavigationDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.AndroidFundamentalsSpring2022.NoActionBar" />
        <activity
            android:name=".fragments.SumActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.MethodCommunicationActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.BundleActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.DynamicFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.IncludeFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Activity2"
            android:exported="false" />
        <activity
            android:name=".activities.Activity1"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycler_view.EmailsListActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>